body {
  background-color: #2e2e2eff;
}
.Outer-homepage{
  display: flex;
  justify-content: center;
  align-items: center;
}

#Home-page-name {
  font-size: 10em;
  color: #3cc1c9ff;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  margin: 0 auto;
  max-width: 75%;
}

#Home-page-title {
  max-width: 75%;
  letter-spacing: 1em;
  font-size: 2em;
  color: tomato;
  text-align: center;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
}
.Grp-Button{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-between;
  justify-content: center;
}
.Grp-Button Button {
  width: 20%;
  color: #3c949cff;
  background: none;
  border: 2px solid #3c949cff;
  padding: .5em .5em;
  margin-top: 1.5em;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 1em;
  transition-delay: 1s;
  transition: color .5s, border-color .5s, box-shadow .5s;
  outline-style: none;
  flex-grow: 1;
}

.Grp-Button Button:hover {
  border-color: tomato;
  color: tomato;
  box-shadow: 0 .5em .5em -.5em;
  transition-timing-function: ease-out;
}
.Grp-Button Button:focus {
  border-color: tomato;
  color: tomato;
  box-shadow: 0 .5em .5em -.5em;
  transition-timing-function: ease-out;
}

#cursor{
  position: absolute;
  position: absolute;
  width: 1px;
  height: 1px;
  border: 1px solid #000000;
  box-sizing: border-box;
  transition: 0.1s;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  pointer-events: none;
  background: white;
  mix-blend-mode: difference;
}
#Home-page-name:hover ~ #cursor{
  transform: scale(75);
  transition-timing-function:ease;
}
#Home-page-title:hover ~ #cursor{
  transition-timing-function:ease;
  transform: scale(35);
  border-radius: 50%;
}



/*The below part is for making it mobile responsive*/
@media screen and (max-width: 600px) {
  #Home-page-name{
    font-size: 5em;
    max-width: 100%;
  }
  #Home-page-title {
    letter-spacing: .2em;
    max-width: 100%;
  }
  #cursor{
    display: none;
  }
  .Grp-Button Button {
    margin: 1px;
    margin-top: 5px;
  }
}
